*{
    border : solid green 1px;
}
html{
    border-color : navy
}
body{
    border-color: red;
}
.test-box{
    height: 100px;
    border: solid 3px black;
    font-size: 25px;
}
#margin1{
    margin: 50px;
}
#margin2{
    margin: 30px 100px 50px 10px; /*시계 방향*/
}
#margin3{
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 500px;
    margin-bottom: 30px;
}
/*요소의 실제 크기는 padding + border width + content box(width, height)를 다 합쳐서 결정된다*/
[id^="padding"]{
    width: 100px;
    height: 100px;
}


#padding1{
    padding: 30px;
    margin:30px
}
#padding2{
    padding: 50px;
    margin : 50px;
}
#padding3{
    padding: 50px;
    width: 300px;
    border-width: 25px;
    border-style: ridge;
    border-color: gray;
    margin:auto;
}
.test2{
    width:  300px;
    height: 200px;
    border-width: 25px;
    padding: 20px;
}
#content-box{
    box-sizing: content-box;/*default*/
}

/*width/heihht 가 전체 크기를 바로 결정하는 방식*/
#border-box{
    box-sizing: border-box;
}