html{
    font-size:  20px;
}

bpdy{
    padding:    0;
    margin : 0;
}

.grid-container{
    display:  grid;
    background-color: cornflowerblue;

     grid-template-columns: 200px auto 100px 100px; 
       grid-template-rows: 100px 300px 100px 
}

.grid-container>*{
    background-color: white;
    border: solid 5px black;
    border-radius: 10px;/*테두리를 둥글게 만들어주는 속성*/
}